.Found-solutions-list {
  margin: 12px 0;
  max-height: 200px;
  overflow-y: auto;
}
.Found-solutions-list ul {
  columns: 2;
  padding-left: 18px;
  margin: 8px 0;
  font-size: 0.9em;
}

@media (max-height: 700px) {
  .Found-solutions-list {
    max-height: 150px;
  }
}


